Repository nhee0410/Coding-Test-Study, pull requests merged in 2022-02, with the labels that each got.

#4 [code] BOJ1339 / 단어수학 / 완전탐색
  Exhaustive_Search/BOJ1339-단어수학/kihan/Main.java
Labels: Exhaustive Search

#3 [code] BOJ1339 / 단어수학 / 완전탐색
  Exhaustive_Search/BOJ1339-단어수학/myeongji/BOJ1339.java
Labels: Exhaustive Search

#6 yongjun / week01 / 문제1 - 단어 수학
  Exhaustive_Search/BOJ1339-단어수학/yongjun/Main.java
Labels: Exhaustive Search

#7 yongjun / week01 / 문제2 - 가르침
  Exhaustive_Search/BOJ1062-가르침/namhee/tempText.txt
  Exhaustive_Search/BOJ1062-가르침/yongjun/Main.java
Labels: Exhaustive Search

#9 junha / week01 / 문제2 - 가르침
  Exhaustive_Search/BO1062-가르침/junha/BOJ1062.java
Labels: Exhaustive Search

#10 taewoong / week01 / 문제2 - 가르침
  Exhaustive_Search/BO1062-가르침/taewoong/Main1062.java
Labels: Exhaustive Search

#12 junha / week02 / 14225 - 부분수열의 합, 2573 - 빙산
  DFS_BFS/BOJ14225-부분수열의합/junha/BOJ14225.java
  DFS_BFS/BOJ2573-빙산/junha/BOJ2573.java
Labels: DFS & BFS

#14 taewoong / week02 / BOJ 부분수열의합 빙산 유기농배추
  DFS_BFS/BOJ1012-유기농배추/taewoong/Main1012.java
  DFS_BFS/BOJ14225-부분수열의합/taewoong/Main14225.java
  DFS_BFS/BOJ2573-빙산/taewoong/Main2573.java
Labels: DFS & BFS

#15 junha / week02 / BOJ1012 - 유기농배추
  DFS_BFS/BOJ1012-유기농배추/junha/BOJ1012.java
Labels: DFS & BFS

#16 [code] yongjun / week02 / 문제3 - 유기농배추
  DFS_BFS/BOJ1012-유기농배추/yongjun/Main.java
Labels: DFS & BFS

#17 yongjun / week02 / 문제4 - 보물섬
  DFS_BFS/BOJ2589-보물섬/yongjun/Main.java
Labels: DFS & BFS

#18 [code] junha / week02 / BOJ2589 - 보물섬
  DFS_BFS/BOJ2589-보물섬/junha/BOJ2589.txt
Labels: DFS & BFS

#20 [code] BOJ12845/모두의마블/그리디
  Greedy/BOJ12845-모두의마블/myeongji/BOJ12845.java
Labels: Greedy

#22 [code] jaehyeong / BOJ12845 / 모두의마블 / 그리디
  Greedy/BOJ12845-모두의마블/jaehyeong/BOJ_12845_모두의마블.java
Labels: Greedy

#25 jaehyeong / week03 / 문제2 - 강의실 배정
  .metadata/.lock
  .metadata/.log
  .metadata/.mylyn/repositories.xml.zip
  .metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
  .metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
  .metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
  .metadata/.plugins/org.eclipse.core.resources/.root/1.tree
  .metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
  .metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
  .metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.epp.logging.aeri.ide.prefs
  .metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
  .metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jst.j2ee.webservice.ui.prefs
  .metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.m2e.discovery.prefs
  .metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
  .metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
  .metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
  .metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.rse.core.prefs
  .metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.editors.prefs
  .metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
  .metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
  .metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
  .metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
  .metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
  .metadata/.plugins/org.eclipse.jdt.core/index.db
  .metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
  .metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
  .metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
  .metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
  .metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
  .metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.9.1.20180912-1601.xml
  .metadata/.plugins/org.eclipse.oomph.setup/workspace.setup
  .metadata/.plugins/org.eclipse.rse.core/.log
  .metadata/.plugins/org.eclipse.rse.core/initializerMarks/org.eclipse.rse.internal.core.RSELocalConnectionInitializer.mark
  .metadata/.plugins/org.eclipse.tips.ide/dialog_settings.xml
  .metadata/.plugins/org.eclipse.tm.terminal.view.ui/.executables/data.properties
  .metadata/.plugins/org.eclipse.ui.intro/introstate
  .metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
  .metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
  .metadata/version.ini
  Greedy/BOJ11000-강의실배정/jaehyeong/LectureAssign2.java
Labels: Greedy
